#modal {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border: black;

}

#modal-data {
    padding-top: 25px;
    justify-content: center;
    background-color: white;
    /* height: 50%; */
    width: 60%;
}

#closeBtn {
    color: #aaaaaa;
    font-weight: bold;
}

